.searched-input {
  background-color: transparent;
  border: none;
  height: 100%;
  letter-spacing: -0.03em;
  line-height: 1.15;
  position: relative;
  z-index: 11;
  font-size: 35px;
  height: auto;
  padding: 0;
}
